/* common shared style */
body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif; 
}
.button-primary{
    border-radius: 8px;
    background: #E55473; 
    border: 0px;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 20px 43px;
  
}
/* header related styles */
 .header{
    background-color: rgba(229, 84, 115, 0.10)
    ;
    width: 100%;
    height: 945px;
    flex-shrink: 0; 
 }
 .banner{
    display: flex;
    align-items: center;
   justify-content: center;
   
 } 
 .banner .header-flower{
   width: 635px;
   height: 800px;
   
 }
 .shop-heading{
    color: #272727;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding: 197px 97px 32px 240px;
 }
 .shop-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding: 32px 240px;
 }
header .button-primary{
   margin: 32px 628px 147px 240px;
}
 /* body style started */
  section {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);    ;
    display: flex;
    justify-content: center;
    margin: 50px 0px;
    width: 100%;
}
 .hot-deal-tittle{
        color: #272727;       
        font-size: 40px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;  
        padding: 230px 215px 24px 423px;
    }
 .hot-deal-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding: 24px 186px 32px 395px;
 }
.flower-pic{
    margin: 100px 0px 100px 175px;
    padding: 100px;
}
main .button-primary{
   margin: 32px 417px 162px 603px;
}
/* instragram section */
.social-tittle{
   color: #272727;
   text-align: center;
   font-size: 40px;
   font-style: normal;
   font-weight: 800;
   line-height: normal;
   padding: 128px 870px 24px;

}
.flower-description{
   color: rgba(39, 39, 39, 0.60);
   text-align: center;
   font-size: 18px;
   font-style: normal;
   font-weight: 400;
   line-height: 30px;
   width: 594px;
   padding: 24px 663px 48px;
}
.instragram-tittle{
   display:block;
   
}
.flower-container{
   display: flex;
   gap: 25px;
   justify-content: center;
}
/* input section style */
.input-tittle{
   color: #272727;
   text-align: center;
   font-size: 40px;
   font-style: normal;
   font-weight: 800;
   line-height: normal;
   padding: 110px 533px 16px ;
}
.input-description{
   color: rgba(39, 39, 39, 0.60);
   text-align: center;
   font-size: 18px;
   font-style: normal;
   font-weight: 400;
   line-height: 30px;
   padding:10px 605px 48px ;
}
#input-email-address{
   border-radius: 8px;
   background: #FFF;
   width: 700px;
   height: 14px;
   padding: 35px 16px 121px 287px;
}
.input{
   background-image: url('../Flower/Asset/Rectangle 9.png');
   width: 2000px;
   height: 700px;
   display: block;
   justify-content:space-around;
   margin-bottom: 128px 240px; 
   text-align: center
   
}
.input-btn{
   display: flex;
   gap: 16px;
}
/* footer style started */
.footer-item{
   background-color:  #111010;
}
.footer-tittle{
   color: #E55473;
   font-size: 48px;
   font-style: normal;
   font-weight: 800;
   line-height: normal;
   padding: 128px 832px 24px;
}
.footer-description{
   color: rgba(255, 255, 255, 0.90);
   text-align: center;
   font-size: 18px;
   font-style: normal;
   font-weight: 400;
   line-height: 30px;
   padding: 24px 648px 32px;
}
.footer-end{
   color: rgba(255, 255, 255, 0.40);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.shop-color{
   background-color: #FFF;
}